<!DOCTYPE html>
<html>
    <head>
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>Homepage</title>
        <style>
            body{
                font-family: arial;
                margin: 0;
            }
            nav{
                background:black;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 100%;
                margin: 0 ;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 100%;
                margin: 30px ;
                padding: 0 10px;
            }
            main img{
                width: 40px;
                margin-right: 10px;
                position: relative;
                top: 12px;
            }
            main p{
                display: inline-block;
            }
            nav li img{
                float: right;
                width: 30px;
                height: 30px;
            }
            .dp{
                width: 200px;
                padding: 15px
                border-radius: 50%;
            }
            #status_update{
                padding: 10px;
            }
            .username{
                padding: 15px;
            }
            .write_something{
                padding: 10px;
            }
            .status_list{
                padding-top: 30px;  
            }
            .status_list li{
                 list-style-type: none;
                 margin: 0;
                 padding: 10px; 
            }
            #append{
                padding: 15px;
            }
            #append img{
                width: 80%;
                
            }
            .status_pics{
                width: 45px !important;                
            }
            .row final{
                padding: 20px;  
            }
            strong{  
                padding: 10px;             
            }
            .row p{
                margin:10px;
            }
            a{
                color:white
            }
            #user_thumbnail{
                border-radius: 50%;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <% if (user) { %>
                <li style="float: right"><img id='user_thumbnail' src="<%= user.thumbnail %>" /></li>
                <li style='float:right'><a href="/auth/logout">Log out</a></li>
                <% } else { %>
                <li style='float:right'><a href="/auth/login">Login</a></li>
                <% } %>
                <li><a href="/homepage">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/chat">Chat</a></li>
            </ul>
        </nav>
        <div class="row">
            <div  class="col-sm-3">
                <img src="<%= user.thumbnail %>" alt="avatar" class="dp">
                <h1 class="username"><%= user.username %></h1>
            </div>
            <div  class="col-sm-8">
                    <h2 style="display:none;" id="uid"><%= user.id%></h2>
                    <h2 style="display:none;" id="displaypic"><%= user.thumbnail %></h2>
                <div class="status_list"> 
                    <h1>Status Updates</h1>                                     
                </div>
                <ul id="append"></ul> 
            </div>
        </div>
    </body>
</html>
<script>  
        var displaypic=$("#displaypic").html()
        var id = $('#uid').html()   
        var socket = io.connect(window.location.hostname);
        $(document).ready(function() {
            console.log('requesting data')
            socket.emit('status_imgs',id)
        })

        socket.on('status_imgs', function(data) {    
                console.log('data',data) 
                var html=""
                for (var x = 0; x < data.length; x++){
                    var arrayBufferView = new Uint8Array(data[x].img.data.data);
                    var blob = new Blob( [ arrayBufferView ], { type: "image/jpeg" } );
                    var urlCreator = window.URL || window.webkitURL;
                    var imageUrl = urlCreator.createObjectURL( blob );
                    html += "<div class='row final'><img src='"+displaypic+"' class='status_pics'><strong>"+data[x].name+"</strong></div><div class='row'><p>"+data[x].status+"</p><div class='row'><img src='"+imageUrl+"'</div></div>"
                    $("#append").html(html);                      
                }                           
        });

        $(document.body).on('click',"#update",function(){
            var blobFile = $('#img').get(0).files[0]
            var data={}
            data.id = $("#uid").html(); 
            data.name = $(".username").html();
            data.status = $('#status').val(); 
            data.file = blobFile;
            console.log("status_update", data)
            socket.emit('status_update',data);          
        })

        socket.on('update_status', function(status) {    
                console.log($("#uid").html())            
                $('#status_update').append($('<li>').html(status));
        });                            
</script>
